
<div class="container">
    <ngx-datagrid 
        gridClass="list-group-item"
        [data]="shipments"
        [options]="options"
        (itemClick)="onItemClick($event)"> 
        <ng-template let-rowDetail #header>
            <div style="padding-left:35px;">
                <div>{{rowDetail.name}}</div>
            </div>
        </ng-template>
        <ng-template let-rowDetail #body>
            <div style="padding-left:35px;">
                <div>{{rowDetail.description}}</div>
            </div>
        </ng-template>
    </ngx-datagrid>

    
</div>
